# DEPRECATED - This project has been converted to Node.js/Next.js
# All dependencies are now in package.json
# No longer using Flask or Python

# If you need the old Python setup, check git history
